body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'header';
  src:local('header') url(./pages/assets/fonts/20db.otf) 
   format('opentype');
}

h1,h2,h2{
 color: hsla(180, 100%, 7%, 1);
}

p{
  color: hsla(0, 0%, 0%, 1);
}

.button{
  @apply   md:px-12 md:py-2 md:text-lg font-medium text-white rounded
}

.chat-text{
  @apply   bg-verdigris flex items-start text-white max-w-[80%] lg:min-w-[20%] mb-2  shadow-xl text-left py-1.5 px-3 
  rounded-tr-xl
  rounded-br-xl
  rounded-bl-xl
}

.shadows{
  box-shadow: 3px, 0px, 30px , 6px, rgba(0, 0, 0 / 9%);
}

.alert{@apply   
   rounded text-white p-3 text-xs bg-dark-green my-1  lg:text-base }


.chat-input{
@apply flex lg:gap-5 items-center justify-center bottom-0 lg:w-4/5 w-full h-[12%] pt-4 pb-5 px-2 gap-2 my-0 mx-auto
}


.chat-message-text {
  background-color: #e6e6e6;
  border-radius: 15px;
  padding: 10px 15px;
  max-width: 70%;
  word-wrap: break-word;
  margin-bottom: 5px;
}

.chat-message-time {
  font-size: 12px;
  color: #999;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
